* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    /* background: #c9c8b9; */
    background: black;
}

.wrapper {
    height: 100vh;
    display:  flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title {
    font-size: 90px;
    line-height: 98px;
    color: white;
    user-select: none;
}

.icon {
    font-size: 130px;
    line-height: 138px;
    color: #ffe000;
}
